In [2]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

# Split the Data into Training and Testing Sets

### Step 1: Read the lending_data.csv data from the Resources folder into a Pandas DF

In [3]:
df = pd.read_csv("Resources/lending_data.csv")
df.head(5)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

### Step 2" Create the labels set from the "loan_status" column, and then create the features DF from the remaining columns

In [ ]:
# Create the labels set (y) from the 'laon_status' column
y = df['loan_status']

# Drop the 'loan_status' column from the df 
df.drop(columns='loan_status', inplace=True)

# Create the features set (x)
X = df.copy()

In [6]:
y

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

### Step 3: Check the balance of the labels variable by using the value_counts function

In [8]:
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using the train_test_split function

# Create a Logistic Regression Model with the OG Data